

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    flex: 1;

  }


.imageContainer{
    padding-top: 120px ;
    max-width: 500px;
    max-height: 650px;
    height: 650px;
    width: 500px;

}  


img{

    width: 600px; 
    height: 550px; 
    margin-right: 10px; 
}

.backButton{
    background-color: rgba(5, 197, 9, 0.605);
    position: fixed; 
    top: 100px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.detailsContainer{
    position: absolute; 
    bottom: 350px;
    right: 100px;
    width: 50%;
}


.backButton:hover{
    background-color: rgba(3, 35, 26, 0.605);


}


.dropbtn{
    position: absolute;
    right: 450px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;





}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  