 <!--<div id="overlay" style="display: none;">
    <div class="panel">
      <button class="closeButton" (click)="close()">&times;</button>
      <div class="comparisonContainer">
      <div class="comparisonContainer">
        <div class="ingredientComparison">
          <h2>Ingredient Comparison</h2>
            <h2>{{productAnalysis['latestDate']}} Ingredients:</h2>
              <li>
                {{productAnalysis['latestList']}}
              </li>
      
            <h2>Missing Ingredients:</h2>
              <li style="color: red;">
                {{ productAnalysis['missingIngredients'] }}

              </li>
            <h2>New Ingredients:</h2>
              <li style="color: chartreuse;">
                {{ productAnalysis['newIngredients'] }}
              </li>

              <h2>{{productAnalysis['earliestDate']}} Ingredients:</h2>
              <li>
                {{productAnalysis['earliestList']}}
              </li>

              <h2>Sources:</h2>
              <li>
                {{productAnalysis['latestSource']}}
              </li>
              <li>
                {{productAnalysis['earliestSource']}}
              </li>
           
          <div class="ingredientSummary">

          </div>

        </div>
    </div>

  </div>
</div>

<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div> -->

<div class="dropListPanel">
  <button class="closeButton" (click)="dropListClose()">&times;</button>
  <div class="comparisonContainer">

</div>
</div>


<div class="AddListPanel">
  <button class="closeButton" (click)="addListClose()">&times;</button>
  <div class="comparisonContainer">

</div>
</div>








<button class="backButton" (click)="goBack()">Back</button>
<div class="productInfo">
  <div class="imageContainer">
    <img style="border: 1px solid #000000; vertical-align: middle;" src={{productData.productImage}} alt="productImage">
  </div>
  <div class="detailsContainer">
    <h1>{{productData.productName}}</h1>
    <p>{{this.productData['productDescription']}}</p>
      <img style="width: 30px; height: 20px; border: 1px solid #000000; vertical-align: middle;" *ngIf="productData.storeOrigin === 'asda'" src="/assets/asdaIcon.png" alt="AsdaImage">
      <img style="width: 30px; height: 20px; border: 1px solid #000000; vertical-align: middle;" *ngIf="productData.storeOrigin === 'tesco'" src="/assets/tescoIcon.png" alt="TescoImage">
      <img style="width: 30px; height: 20px; border: 1px solid #000000; vertical-align: middle;" *ngIf="productData.storeOrigin === 'sainsbury'" src="/assets/sainsburyIcon.png" alt="SainsburyImage">
      <label>       Current Price: £{{this.productData['historicalData'][this.productData['historicalData'].length - 1]['productPrice']}}</label>
      <button class="dropbtn" onclick="openListChoice()">&#8595; Add to List</button>
      <div class="dropdown-content" id="myDropdown" *ngFor="let product of userLists">
        <a (click)="addToList()">{{product.listName}}</a>
        <a (click)="addToNewList()">+ create new list</a>
  </div>
</div>




<div class="historicalPriceChanges">
  <h2>Historical Price Changes</h2>


  <div class="priceSections">

  </div>
</div>



<!-- netcontent section -->


<div class="netContentChanges">
  <h2>Net Content Examination</h2>
  <div class="netContentBox">
      <!-- Box 1 content here -->
  </div>
  <div class="netContentBox">
      <!-- Box 2 content here -->
  </div>
  <div class="netContentBox">
      <!-- Box 3 content here -->
  </div>
</div>






