 <!--
<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div> -->

<div class="dropListPanel">
  <button class="closeButton" (click)="dropListClose()">&times;</button>
  <div class="comparisonContainer">

</div>
</div>


<div class="reportPanel">
  <h1>Report Product</h1>
  <p class="description">product: {{productData.productName}}</p>
  <p class="notice">Reports are anonymous, please describe the issue:</p>
  <form class="panelForm" (ngSubmit)="reportProduct()">
    <textarea rows="4" name="description" id="description" type="text"  placeholder="Enter your text here" [(ngModel)]="report.description" ></textarea>
    <div class="buttons">
      <button  type="submit">Submit</button>
      <button (click)="closeReport()" type="button">Cancel</button>
    </div>
  </form>
</div>


<div class="AddListPanel" style="display: none;">
    <h1>Add list</h1>
    <p class="description">adding this product: {{productData.productName}}</p>
    <p class="notice">Enter new list details</p>
    <form class="panelForm">
      <label style="color: #000000;"></label>
      <input type="text" id="listName" name="listName">
      <textarea rows="4" name="description" placeholder="Enter your text here" ></textarea>
      <div class="buttons">
        <button type="submit">Submit</button>
        <button class="closeButton" (click)="addListClose()">&times;</button>
      </div>
    </form>
  </div>
 

<button class="backButton" (click)="goBack()">Back</button>
<div class="productInfo">
  <div class="imageContainer">
    <img class='productImage' style="border: 1px solid #000000; vertical-align: middle;" src={{productData.productImage}} alt="productImage">
  </div>
  <div class="detailsContainer">
    <h1>{{productData.productName}}</h1>
    <p>{{this.productData['productDescription']}}</p>
      <img style="width: 50px; height: 30px; border: 1px solid #000000; vertical-align: middle;" *ngIf="productData.storeOrigin === 'asda'" src="/assets/asdaIcon.png" alt="AsdaImage">
      <img style="width: 50px; height: 30px; border: 1px solid #000000; vertical-align: middle;" *ngIf="productData.storeOrigin === 'tesco'" src="/assets/tescoIcon.png" alt="TescoImage">
      <img style="width: 50px; height: 30px; border: 1px solid #000000; vertical-align: middle;" *ngIf="productData.storeOrigin === 'sainsbury'" src="/assets/sainsburyIcon.png" alt="SainsburyImage">
      <label style="font-size: large;">       Current Price: £{{this.productData['historicalData'][this.productData['historicalData'].length - 1]['productPrice']}}</label>
      <button class="dropbutton" onclick="openListChoice()">&#8595; Add to List</button>
      <div class="dropdown-content" id="myDropdown" *ngFor="let product of userLists">
        <a (click)="addToList()">{{product.listName}}</a>
        <a (click)="addToNewList()">+ create new list</a>
  </div>
  <button class="reportButton" (click)="openReport()">Report Product</button>

</div>


<div class="chartContainer">
<h2>Historical Price Changes</h2>
<canvas style="background-color: rgb(255, 255, 255);" width="400" height="200" id="lineChart"></canvas>
</div>
</div>

<div class="priceFacts">
<label class='lowestCost'>Lowest cost: £</label>
<br>
<br>
<label class='highestCost'>Highest cost: £</label>
<br>
<br>
<label class='averageCost'>average cost: £</label>
<br>
<br>
<label class='inflationText'>Inflation rates have risen by:</label>
</div>



<br>
<br>
<br>
<div class="netContentChanges">
  <h2>Net Content Examination</h2>
  <div class="netContentGrid">
    <div class="netContentBox">
      <h3>{{this.productData['historicalData'][this.productData['historicalData'].length - 1]['sourceDate']}}</h3>
      <div class="mainFigure">{{this.productData['historicalData'][this.productData['historicalData'].length - 1]['productQuantity']}}</div>
    </div>
    <div class="netContentBox">
      <h3>Total difference</h3>
      <div class="netContentDifference"></div>
    </div>
    <div class="netContentBox">
      <h3>{{this.productData['historicalData'][0]['sourceDate']}}</h3>
      <div class="mainFigure">{{this.productData['historicalData'][0]['productQuantity']}}</div>
    </div>
  </div>
  <h2>Ingredient Examination</h2>
  <h3>Ingredient listings from {{this.productAnalysis['latestDate']}}</h3>
</div>
<div class="IngredientBox">
  <div class="">{{this.productAnalysis['latestList']}}</div>
</div>

<div>
<h3>Ingredient listings from {{this.productAnalysis['earliestDate']}}</h3>
</div>
<div class="IngredientBox">
  <div class="">{{this.productAnalysis['earliestList']}}</div>
</div>

<div>
  <h3>Found missing ingredients from {{this.productAnalysis['latestDate']}} to {{this.productAnalysis['earliestDate']}}</h3>
  </div>
  <div class="IngredientBox">
    <div style="color:red;">{{this.productAnalysis['missingIngredients']}}</div>
  </div>

  <div>
    <h3>Ingredients found to be added after {{this.productAnalysis['earliestDate']}} to {{this.productAnalysis['latestDate']}}</h3>
    </div>
    <div class="IngredientBox">
      <div style="color: green;">{{this.productAnalysis['newIngredients']}}</div>
    </div>
    
    <div>
      <h3>Sources for all this data</h3>
      </div>
      <div class="sourceList">
        <table class="sourceTable">
          <tbody>
            <tr *ngFor="let product of this.productData.historicalData">
              <ul>
              <li><td><a href="{{product.source}}">{{product.source}}</a></td></li>
            </ul>
            </tr>

          </tbody>
        </table>
      </div>
      







