

<div class="barChartContainer">
<h2 style="justify-content: center; margin: auto; color: aliceblue;">Bakery & Sweet total among stores</h2>
<canvas id="barChart"></canvas>
</div>

<div class="barChartContainer2">
<h2 style="justify-content: center; margin: auto; color: aliceblue;">Confectionery Sweets total among stores</h2>
<canvas id="barChart2"></canvas>
</div>


<div class="barChartContainer3">
    <h2 style="justify-content: center; margin: auto; color: aliceblue;">Category splits in sainsbury</h2>
    <canvas id="barChart3"></canvas>
    </div>
    
        
        

    
    