
.listing {
    max-width: 600px;
    margin: 20px auto;
  }
  
  
  li {
    padding: 10px;
    border: 1px solid #c4bfbf;
    margin-bottom: 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button[disabled] {
    background-color: #dedede;
    cursor: not-allowed;
  }
  
  .listing {
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 180px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listing h2 {
  font-size: 24px;
  color: #444141;
  margin-bottom: 10px;
}

.listing ul {
  list-style-type: none;
  padding: 0;
}

.listing li {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.listing li:last-child {
  margin-bottom: 0;
}

.listing li .listName {
  font-weight: bold;
}

.listing li .description {
  color: #5e5e5e;
}

.listing li .list {
  color: #817d7d;
}

.listing {
  background-color: #91bceb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listing h2 {
  font-size: 25px;
  color: #373434;
  margin-bottom: 10px;
}

.listing ul {
  list-style-type: none;
  padding: 0;
}

.listing li {
  background-color: #eeebeb;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.listing li:last-child {
  margin-bottom: 0;
}

.listing li .listName {
  font-weight: bold;
  color: #f46709; 
}

.listing li .description {
  font-weight: bold;
  color: #079acc; 
}

.listing li .list {
  font-weight: bold;
  color: #67cb03;
}

.deleteListButton {

float: right; 
background-color: #a92d2d; 
border: 1px solid #000000;

}

.deleteListButton:hover {

  background-color: #a92d2d; 

}

.updateListButton{ 
  
  float: right; 
  background-color:chartreuse;
  color:beige;
  border: 1px solid #000000;

}

.updateListButton:hover{


  background-color:rgb(55, 83, 26);

}