<div class="accountAlert" style="padding: 20px; display: none; background-color: #a92d2d; color: white;">
  <div class="closebtn" style="margin-left: 15px; color: white; font-weight: bold; float: right; font-size: 22px; line-height: 20px; cursor: pointer; transition: 0.3s;" onclick="this.parentElement.style.display='none';">&times;</div>
  Unable to access account- Please login to a valid account first.
</div> 


<br>
<br>
<br>
<br>
<br>
<br>
<div style="
width: 50%; margin-left: 630px;">
<h1>Hello {{accountData.username}}</h1>

</div>

<div id ="deletionZone">

<form>
<h4>Delete account:</h4>
<label style="text-align: center;">current password:</label>
<input type = "text" name = "password" placeholder = "password" [(ngModel)]="updateAccountForm.password" [ngModelOptions]="{standalone: true}">
<br>
<label><input type="checkbox" name="confirmationCheck">tick to confirm your choice to permanently delete your account.</label>

<br>
<button class='deleteAccountButton' (click)="deleteAccount()">Delete account</button>
</form>  

<form>
<h4>Change username:</h4>
<label>new Username:</label>
<br>
<input type = "text" name = "username" placeholder = "username" [(ngModel)]="updateAccountForm.username" [ngModelOptions]="{standalone: true}">
<br>
<label>current password:</label>
<br>
<input type = "text" name = "password" placeholder = "password" [(ngModel)]="updateAccountForm.password" [ngModelOptions]="{standalone: true}">
<br>
<button (click)="updateUsername()">Confirm</button>
</form>


<form>
  <h4>Change email:</h4>
  <label>new email:</label>
  <br>
  <input type = "text" name = "email" placeholder = "email" [(ngModel)]="updateAccountForm.email" [ngModelOptions]="{standalone: true}">
  <br>
  <label>current password:</label>
  <br>
  <input type = "text" name = "password" placeholder = "password" [(ngModel)]="updateAccountForm.password" [ngModelOptions]="{standalone: true}">
  <button  (click)="updateEmail()">Confirm</button>
  </form>



  <form>
    <h4>Change password:</h4>
    <label>current password:</label>
    <input type = "text" name = "OldPassword" placeholder = "old password" [(ngModel)]="updateAccountForm.oldPassword" [ngModelOptions]="{standalone: true}" >
    <br>
    <label>new password:</label>
    <input type = "text" name = "password" placeholder = "password" [(ngModel)]="updateAccountForm.password" [ngModelOptions]="{standalone: true}">
    <br>
    <button class="btn btn-success" (click)="updatePassword()">Confirm</button>
    </form>
  

</div>