<div class="accountAlert" style="padding: 20px; display: none; background-color: #a92d2d; color: white; margin-top: 80px;">
    <div class="closebtn" style="margin-left: 15px; color: white; font-weight: bold; float: right; font-size: 22px; line-height: 20px; cursor: pointer; transition: 0.3s;" onclick="this.parentElement.style.display='none';">&times;</div>
    Unable to access account- Please login to a valid account first.
  </div> 


<div>
<h1>Hello {{accountData.username}}</h1>
</div>

<div id ="deletionZone">




<p>user-management works!</p>


</div>