<div class="accountAlert" style="padding: 20px; display: none; background-color: #a92d2d; color: white;">
  <div class="closebtn" style="margin-left: 15px; color: white; font-weight: bold; float: right; font-size: 22px; line-height: 20px; cursor: pointer; transition: 0.3s;" onclick="this.parentElement.style.display='none';">&times;</div>
  Unable to access account- Please login to a valid account first.
</div> 


<div>
<h1>Hello {{accountData.username}}</h1>

</div>
<div id ="deletionZone">
<button class="btn btn-danger" (click)="deleteAccount()">Delete account</button>
<br>
<br>
<br>
<br>

<form>
<label>Username:</label>
<input type = "text" name = "username" placeholder = "username" [(ngModel)]="updateAccountForm.username" [ngModelOptions]="{standalone: true}" required>
<br>
<label>password:</label>
<input type = "text" name = "password" placeholder = "password" [(ngModel)]="updateAccountForm.password" [ngModelOptions]="{standalone: true}" required>
<br>
<label>email:</label>
<input type = "text" name = "email" placeholder = "email" [(ngModel)]="updateAccountForm.email" [ngModelOptions]="{standalone: true}" required>
<br>

<button class="btn btn-success" (click)="updateAccount()">Update account</button>
</form>




</div>