.searchContainer {
  max-width: 600px;
  margin: 80px auto; 
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.searchContainer input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkboxContainer {
  margin-bottom: 10px;

}

.checkboxContainer label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

.categoryBar {
  height: 50px; 
  margin-bottom: 10px;
  font-size: 20px;

}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #07376b;
}



.gridArea {
  display: grid;
  grid-template-columns: repeat(3, 2fr); 
  grid-gap: 5px;
  grid-row-gap: 30px;
  color: white;
  
}

header, footer {
  background-color: #003f6b;
  width: 99%;
  color: #fff;
  padding: 5px 0;
  margin: 0 auto;
  text-align: center; 
  font-size: 15px;

}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
}

.price {
  margin-right: 12px; 
}


