<div class="registerPanel">
    <h2   style="text-decoration: underline;">Register</h2>
    <p class="registerWarning" style="color: crimson;display: none; position: absolute; bottom: 10px; left: 20px"></p>
    <form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
        <div class="formGroup">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="registerFormData.email">
        </div>
      <div class="formGroup">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="registerFormData.username">
      </div>
      <div class="formGroup">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="registerFormData.password">
      </div>
      <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
  </div>